@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/AnimalesFantastic-lGly.ttf");
}

body {
    font-family: Arial, sans-serif;
    background-color: #efde83;
    margin: 0;
    padding: 0;
    transition: background 1s ease-in-out;
        cursor: url("../images/cursor1.png"), auto;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #222222;
    font-size: 120px;
    font-style: normal;
    font-family: "MyCustomFont";
    letter-spacing: 10px; 
    line-height: -20px; 
    margin: 1px; 
    text-align: center;
}

h1 span {
    display: inline-block;
    animation: fall 1s ease forwards;
    opacity: 0;
    transform: translateY(-100%);
}

/* Delay each letter animation */
h1 span:nth-child(1) { animation-delay: 0.1s; }
h1 span:nth-child(2) { animation-delay: 0.2s; }
h1 span:nth-child(3) { animation-delay: 0.3s; }
h1 span:nth-child(4) { animation-delay: 0.4s; }
h1 span:nth-child(5) { animation-delay: 0.5s; }
h1 span:nth-child(6) { animation-delay: 0.6s; }
h1 span:nth-child(7) { animation-delay: 0.7s; }
h1 span:nth-child(8) { animation-delay: 0.8s; }
h1 span:nth-child(9) { animation-delay: 0.9s; }
h1 span:nth-child(10) { animation-delay: 1s; }
h1 span:nth-child(11) { animation-delay: 1.1s; }

/* Animation for the wand image */
.letter-image {
    position: absolute;
    bottom: 190px; 
    left: 65%; 
    transform: translateX(-50%);
    width: 300px;
    height: 300px; 
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateX(-50%) scale(1);
    }
    to {
        transform: translateX(-50%) scale(1.1);
    }
}


#middleImage {
    animation: spin 2s linear;
}

@keyframes fall {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.options {
    margin-top: 30px;
}

button {
    padding: 20px 25px;
    margin: 0 10px;
    font-size:  25px;
    font-family: "MyCustomFont";
    cursor: pointer;
    background-color: #ccb537;
    color: #222222;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: #877306;
    transform: scale(1.1);
}

button:focus {
    outline: none;
}

#exitButton {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 60px;
    background: none;
    border: none;
    cursor: pointer;
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

body.fadeout {
    animation: fadeout 5s forwards;
    background-color: black;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#soundIcon {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
